apiVersion: finops.krateo.io/v1
kind: DatabaseConfig
metadata:
  name: # config name
  namespace: default
spec:
  host: # host name for the database
  token: # access token
  clusterName: # generic compute cluster name
  notebookPath: # path to the notebook 
---
apiVersion: finops.krateo.io/v1
kind: ExporterScraperConfig
metadata:
  labels:
    app.kubernetes.io/name: exporterscraperconfig
    app.kubernetes.io/instance: exporterscraperconfig-sample
    app.kubernetes.io/part-of: operator-exporter
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: operator-exporter
  name: # ExporterScraperConfig na,e
spec:
  exporterConfig: # same as krateoplatformops/finops-prometheus-exporter-generic
    name: #name of the exporter
    url: #url including http/https of the CSV-based API to export, parts with <varName> are taken from additionalVariables: http://<varName> -> http://sample 
    requireAuthentication: #true/false
    authenticationMethod: #one of: bearer-token
    pollingIntervalHours: #int
    additionalVariables:
      varName: sample
      # Variables whose value only contains uppercase letters are taken from environment variables
      # FROM_THE_ENVIRONMENT must be the name of an environment variable inside the target exporter container
      envExample: FROM_THE_ENVIRONMENT
  scraperConfig: # same fields as krateoplatformops/finops-prometheus-scraper-generic
    tableName: # tableName in the database to upload the data to
    # url: # path to the exporter, optional (if missing, its taken from the exporter)
    pollingIntervalHours: # int
    scraperDatabaseConfigRef: # See above kind DatabaseConfig
      name: # name of the databaseConfigRef CR 
      namespace: # namespace of the databaseConfigRef CR